body{
    margin: 0px;
}
#title{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 1275px;       /*가로 넓이*/
    height: 200px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
}
#list{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 1275px;       /*가로 넓이*/
    height: 50px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
}
.but{
    float: left;
    border: 2px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 251px;       /*가로 넓이*/
    height: 35px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
    padding-top: 10px;
}
#med{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 1275px;       /*가로 넓이*/
    height: 200px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
}
span{
    font-size: 20px;
}
span:hover{
    color: rgb(252, 3, 3);
}
#num{
    float: left;
    border: 2px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 1275px;       /*가로 넓이*/
    height: 50px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
}
#manu{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 970px;       /*가로 넓이*/
    height: 200px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
    padding-left: 300px;
    padding-top: 100px;
}
#tab{
    float: left;
    border: 1px dotted;
    width: 700px;
    height: 100px;
    text-align: center;
}
table, td, th{
    border-collapse: collapse;
    border: 1px solid black;
}
th{
    width: 150px;
    height: 5px;
}
td{
    width: 400px;
    height: 5px;
}
#pot{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 500px;       /*가로 넓이*/
    height: 700px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
    margin-left: 390px;
    margin-top: 50px;
}
#put{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 800px;       /*가로 넓이*/
    height: 600px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
    margin-left: 240px;
}