body{
    margin: 0px;
}
#title{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 700px;       /*가로 넓이*/
    height: 300px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
    margin-left: 130px;
    background-color: white;
}
#meme{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 700px;       /*가로 넓이*/
    height: 600px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
    margin-left: 130px;
    padding-left: 170px;
    background-color: rgb(241, 183, 196);
}
#num{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 700px;       /*가로 넓이*/
    height: 80px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
    margin-left: 130px;
    background-color: white;
}
#manu{
    float: left;
    border: 5px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 1000px;       /*가로 넓이*/
    height: 1000px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
    margin-left: 130px;
    background-color: white;
}
#titlest{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 1275px;       /*가로 넓이*/
    height: 200px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
}
#list{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 1275px;       /*가로 넓이*/
    height: 50px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
}
.but{
    float: left;
    border: 2px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 251px;       /*가로 넓이*/
    height: 50px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
    padding-top: 10px;
}
#med{
    float: left;
    border: 0px solid black;      /*틀 선 굵기와 종류 색상*/
    width: 1275px;       /*가로 넓이*/
    height: 200px;      /*세로 높이*/
    text-align: center;     /*중앙 정렬*/
}
span{
    font-size: 20px;
}
span:hover{
    color: rgb(252, 3, 3);
}